/*csslint order-alphabetical: false*/

/* CSSLint */

.fo-menu {
    background-color: aqua;
    height: 80px;
}
/*ez a fo-menu classon beluli menupont class-okat valasztja ki*/
.fo-menu .menupont {
    height: 40px;
    /* körbe mindenhol 10px a magrin */
    /* margin: 10px; */

    /* a következő három sort rövidítve is lehet írni */
    /* margin-left: 10px; */
    /* margin-top: 10px; */
    /* margin-bottom: 10px; */

    /* az előző három sor rövidítve így néz ki:  */
    margin: 10px 0 10px 10px;  /* fölül, jobbra, alul, balra */
/*ez a css property megváltoztatja a hmtl elem alapértelmezett működését, jelen esetben*/
/*    egy block szintű elem (div)-ből inline elemet csinál, de a block tulajdonságait is megőrzi*/
    /*read more: https://www.w3schools.com/css/css_inline-block.asp */
    background-color: blue;
    color: white;
    display: inline-block;


    /* padding-top: 22px; */
    /* padding-left: 10px; */
    /* padding-right: 10px; */
    /* padding-bottom: 0; */
    
    /* az előző három sor rövidítve így néz ki:  */
    
    /* fölül, jobbra, alul, balra */
    padding: 22px 10px 0 10px; 

}
.al-menu{
    margin-top: 20px;
    float: right;  /*jobbra rendezi az almenüt*/
   
}

.al-menu .menupont{
    display: inline-block;
    margin-left: 10px;
    text-decoration: underline;
}
/*ha a menüpont fölé visszük az egeret, akkor bekékül az adott menüpont*/
.al-menu .menupont:hover{
    color: blue;
    cursor:pointer;
}


.tartalom {
    background-color: lightgrey;
    margin-top: 40px;
    height: 1000px;  /*ez csak azért kell hogy a scrollbar megjelenjen */
    
    /* bizonoyos css property-ket nem ajánlott használni, mert nem minden böngésző */
    /* ismeri. Ezt a caniuse.com weboldalon ellenőrizhetjük */
    /* https://caniuse.com/#search=zoom */
    /* pl zoom nem működik firefoxban!!! */
    /* zoom: 0.1; */

}
.fixed-doboz{
    width: 200px;
    height:50px;
    background-color: blue;
    color: white;
}



/* #learnabout box-modell https://www.w3schools.com/css/css_boxmodel.asp */